
a{
  text-decoration: underline;
  cursor: pointer;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

button{
  width: 300px;
  border: 3px solid #bbbbbb;
  background-color: white;
  border-width: 2px;
  border-radius: 5px;
  transition: 0.1s;
  box-shadow: none;
  font-weight: 700;
}
button:hover{
  transform: translate(-2px, -2px);
  cursor: pointer;
}

a:hover{
  transform: translate(-2px, -2px);
  cursor: pointer;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(#ffffff, #054a91);
}
