/* The post itself box where content will be displayed */
.post-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-radius: 15px 0px 0px 15px;
    background-color: #ffffff;
}

/* The post title */
.post-content{
    display: flex;
    flex-direction: column;
    padding: 2% 5% 2% 5%;
}