

/* This boxs styles the full timeline of post and also sets a max-height limit so as to not overlap the header. */
.timeline-container{
    display: flex;
    justify-content: center;
    align-items: center;
}   

.timeline{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-height: 80vh;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.timeline-container::-webkit-scrollbar {
    display: none;
}

/* This box styles the "Create Your Post Here" button. */
.timeline-create-post{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    transition: 0.15s;
    min-height: 80px;
    max-height: 120px;
    background-color: #ffffff;
}

/* When you hover on previously said button it changes color. */
.timeline-create-post:hover{
    background-color: #ffffff;
    transform: translate(0, -5px);

}